---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main
      class="min-h-screen mx-auto pb-28 sm:px-6 md:px-8 xl:px-12 lg:max-w-3xl"
    >
      <header class="lg:py-10 sm:py-12 py-4 sm:text-center mx-4">
        <p class="lg:text-xl text-lg text-gray-700">
          Thoughts, tutorials, guides, etc
        </p>
      </header>
      <section>
        <ul>
          {
            posts.map((post) => (
              <a href={post.url}>
                <li class="mb-4 grid grid-cols-1 rounded-md px-4 py-2 hover:bg-green/10 focus:bg-green/10 sm:flex sm:grid-cols-2 sm:items-center sm:py-4">
                  <p class="sm:w-32">
                    <time
                      class="text-gray-500"
                      datetime={post.frontmatter.pubDate}
                    >
                      {new Date(post.frontmatter.pubDate).toLocaleDateString(
                        "en-us",
                        {
                          year: "numeric",
                          month: "short",
                          day: "numeric",
                        }
                      )}
                    </time>
                  </p>
                  <section class="">
                    <h3 class="text-lg font-semibold tracking-tight text-gray-900 sm:pt-0">
                      {post.frontmatter.title}
                    </h3>
                    <p class="prose line-clamp-2 prose-a:relative prose-a:z-10">
                      {post.frontmatter.description}
                    </p>
                    <span>
                      <a
                        class="text-md under font-semibold text-green"
                        href={post.url}
                      >
                        Read more &rsaquo;
                      </a>
                    </span>
                  </section>
                </li>
              </a>
            ))
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
