---
import twitter from '../../public/twitter.svg'
import twitch from '../../public/twitch.svg'
import youtube from '../../public/youtube.svg'
import linkedin from '../../public/linkedin.svg'
import github from '../../public/github.svg'
import discord from '../../public/discord.svg'
---
<ul class="flex items-center space-x-2">
  <li class="w-7 h-7">
    <a href="https://twitter.com/Dominus_Kelvin" target="_blank"><img src={twitter} alt="Connect with me on Twitter" /></a>
  </li>
  <li class="w-7 h-7">
    <a href="https://github.com/DominusKelvin" target="_blank"><img src={github} alt="Connect with me on GitHub" /></a>
  </li>
  <li class="w-7 h-7">
    <a href="https://youtube.com/c/KelvinOmereshoneOfficial" target="_blank"><img src={youtube} alt="Connect with me on YouTube" /></a>
  </li>
  <li class="w-7 h-7">
    <a href="https://linkedin.com/in/kelvinomereshone" target="_blank"><img src={linkedin} alt="Connect with me on LinkedIn" /></a>
  </li>
  <li class="w-7 h-7">
    <a href="https://twitch.tv/DominusKelvin" target="_blank"><img src={twitch} alt="Connect with me on Twitch" /></a>
  </li>
  <li class="w-7 h-7">
    <a href="https://discord.gg/gbJZuNm" target="_blank"><img src={discord} alt="Connect with me on Discord" /></a>
  </li>
</ul>
