---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    heroImage?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate },
} = Astro.props;

const tweetText = `I just read "${title}" by @Dominus_Kelvin \n`;
const tweetUrl = `https://twitter.com/intent/tweet?url=${
  Astro.url
}&text=${encodeURIComponent(tweetText)}`;
const twitterSearchUrl = `https://twitter.com/search?q=${encodeURI(Astro.url)}`
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />

    <main
      class="min-h-screen p-4 sm:mx-auto lg:mx-auto lg:w-8/12 xl:w-1/2 sm:w-10/12 m:p-0 lg:p-10 text-gray-800"
    >
      <p class="mb-8">
        <a href="/blog" class="hover:text-green">&lsaquo; Go back</a>
      </p>
      <p class="text-sm text-gray-700">
        {pubDate && <time>{pubDate}</time>}
        {
          updatedDate && (
            <div>
              Last updated on <time>{updatedDate}</time>
            </div>
          )
        }
      </p>
      <article
        class="prose lg:prose-lg prose-md prose-a:no-underline prose-a:font-semibold prose-a:border prose-a:border-transparent prose-a:border-b-green hover:prose-a:text-green prose-code:before:content-none prose-code:after:content-none prose-code:text-green"
      >
        <h1 class="title">{title}</h1>
        <slot />
      </article>
      <aside class="mt-8 p">
        <ul class="text-pink font-extrabold flex justify-center space-x-4">
          <li>
            <a
              class="hover:underline focus:outline-none"
              target="_blank"
              rel="noreferrer noopener"
              href={tweetUrl}>Tweet this article</a>
          </li>
          <li>
            <a class="hover:underline focus:outline-none"  target="_blank"
            rel="noreferrer noopener" href={twitterSearchUrl}
              >Discuss on Twitter</a>
          </li>
        </ul>
      </aside>
    </main>

    <Footer />
  </body>
</html>
